body {
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  font-family: monospace;
}

.hidden {
  display: none;
  visibility: hidden;
  color: transparent;
}

.container {
  flex: 0 1 1160px;
  max-width: 1160px;
  padding: 20px 0;
}